// app.scss

// Import Bootstrap

@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';
// Import SCSS variables
@import 'variables';
// Import SCSS variables
@import 'reset';
// Import global
@import 'global';
//banner
@import 'components/banner';
// Base styling
body {
  font-family: $font-family-base;
  background-color: $background-color; // Use SCSS variable
  color: $text-color;                   // Use SCSS variable
  transition: background-color 0.3s, color 0.3s;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: $spacer-lg;                  // Use SCSS variable
}

button {
  padding: $spacer-sm $spacer-md;       // Use SCSS variables
  border-radius: $border-radius;         // Use SCSS variable
  background-color: $primary-color;      // Use SCSS variable
  color: $text-color;                    // Use SCSS variable
  border: 1px solid $primary-color;      // Use SCSS variable
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;

  &:hover {
    background-color: lighten($primary-color, 10%); // Use SCSS variable
    border-color: lighten($primary-color, 10%);     // Use SCSS variable
  }
}

// Dark Mode Styles
.dark-mode {
  body {
    background-color: $background-color-dark; // Use SCSS variable
    color: $text-color-dark;                   // Use SCSS variable
  }

  button {
   
    color: $text-color-dark;                     // Use SCSS variable

    &:hover {
      
     
    }
  }
}
