// app.scss

// Import Bootstrap
@import "bootstrap";
@import "bootstrap-icons";
// Import SCSS variables
@import "variables";

// Base styling
body {
  font-family: $font-family-base;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: $spacer-lg;
}

button {
  font-weight: $btn-font-weight;
  padding: var(--spacer-sm) var(--spacer-md);
  border-radius: $border-radius;
  background-color: var(--primary-color);
  color: var(--text-color-light);
  border: 1px solid var(--primary-color);
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;

  &:hover {
    background-color: lighten(var(--primary-color), 10%);
    border-color: lighten(var(--primary-color), 10%);
  }
}

// Dark Mode Styles
.dark-mode {
  body {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
  }

  button {
    background-color: var(--primary-color-dark);
    border-color: var(--primary-color-dark);
    color: var(--text-color-dark);

    &:hover {
      background-color: lighten(var(--primary-color-dark), 10%);
      border-color: lighten(var(--primary-color-dark), 10%);
    }
  }
}
